<section class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around p-3 p-md-0" id="demo-landing">
    <mat-progress-bar mode="indeterminate" class="x-progress-bar" color="primary" *ngIf="uploading"></mat-progress-bar>

    <div class="d-flex flex-column align-items-center api-form mr-md-4 m-0">
        <div class="logo-container">
            <a href="https://www.xano.com" target="_blank">
                <img class="logo clickable pr-2 pl-2" src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"/>
            </a>
        </div>

        <div class="w-100">
            <h1 class="mt-4 text-center">{{config.title}}</h1>
            <form [formGroup]="configForm" class="w-100" *ngIf="!configService.xanoApiUrl.value">
                <mat-form-field appearance="outline" class="w-100 mt-3 mr-0" color="primary">
                    <mat-label>Your Xano API URL</mat-label>
                    <input (paste)="pasteSubmit()" autocomplete="off" formControlName="xanoUrl" matInput/>
                    <mat-icon (click)="submit()" class="cursor-pointer" color="primary" matSuffix>login</mat-icon>
                    <mat-error *ngIf="configForm.controls.xanoUrl.hasError('required')">URL is required</mat-error>
                    <mat-error *ngIf="configForm.controls.xanoUrl.hasError('pattern')">Please enter a Valid URL
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        
        <div style="text-align: center; color: white" >
            <h5>This site is being powered by your Xano backend using a pre-installed template.</h5>
        </div>
        <div class="info-box mt-2">

            <div>
                <div class="data-from">
                    <h5 *ngIf="!singleItem && !editing">The Profile Data shown is pulling <u>all</u> rows from: </h5>
                    <h5 *ngIf="singleItem && !editing">The Profile shown is pulling a <u>single</u> row with id <b>{{singleItem.id}}</b> from: </h5>
                    <h5 *ngIf="singleItem && editing">This form will update the row with id <b>{{singleItem.id}}</b> in: </h5>
                    <h5 *ngIf="!singleItem && newItem && editing">This form will post a new row to: </h5>
                </div>

                <div #xanoURL>
                    <div *ngIf="configService.xanoApiUrl.value">
                        <p>This Base URL (Found in My First Front End API Group)</p>
                        <h6 class="mt-1">
                            <code>{{configService.xanoApiUrl.value}}</code>
                        </h6>
                    </div>
                    <div *ngIf="!configService.xanoApiUrl.value">
                        <b style="color: rgb(255,87,35)">Please Input a Valid Xano API URL above (found in your Xano workspace under API groups)</b>
                    </div>
                </div>

                <div>
                    <p>From this Database table</p>
                    <h6 class="table-name mt-1">
                        <code>My First Table</code>
                    </h6>
                </div>

                <div>
                    <p>Using the API Endpoint</p>
                    <h6 class="mt-1">
                        <code>{{editing ? 'POST' : 'GET'}} <button mat-stroked-button color="primary" class="ml-0 mr-0 mt-0 api-button" (click)="animateURL()">Xano Base URL</button>
                            <span *ngIf="(!singleItem && !editing) || (!singleItem && newItem && editing)">/my_first_endpoint</span>
                            <span *ngIf="(singleItem && !editing) || singleItem && editing">/my_first_endpoint/{{"{my_first_table_id}"}}</span>
                        </code>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <mat-card class=" ml-auto mr-auto pb-2 x-card" *ngIf="configService.xanoApiUrl.value">
        <button (click)="viewAll()" *ngIf="singleItem && !editing" class="ml-2 mt-4" mat-flat-button>
            <mat-icon style="transform: rotate(180deg)">forward</mat-icon>
            All Profiles
        </button>
        <mat-card-header class="p-0">
            <mat-card-title class="d-flex justify-content-center align-items-center w-100">
                <h3 class="pt-2 m-0 card-header-text">{{singleItem ? 'Single Profile' : 'Profiles'}}</h3>
                <div class="ml-auto">
                    <button (click)="editOrAddRecord()" *ngIf="!editing else editingActions"
                            [matTooltip]="singleItem ? information.edit_record : information.add_record"
                            class="card-header-button"
                            color="primary"
                            mat-raised-button matTooltipClass="nice-tooltip"
                    >
                        <mat-icon>{{singleItem ? 'edit' : 'add'}}</mat-icon>
                        Record
                    </button>

                    <ng-template #editingActions>
                        <button (click)="editing = false" class="card-header-button" mat-raised-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </ng-template>

                </div>
            </mat-card-title>
        </mat-card-header>

        <div class="pb-4">
            <mat-divider></mat-divider>
        </div>

        <mat-card-content>
            <div *ngIf="(!singleItem && !(editing && newItem))else showSingle">
                <mat-card (click)="getSingleItem(profile?.id)" *ngFor="let profile of data"
                          class="mb-4 profile-card cursor-pointer">
                    <mat-card-header>
                        <img [src]="profile?.profile_image?.url ? profile?.profile_image?.url : 'assets/images/dummy450x450.jpg'"
                             class="mt-2" mat-card-avatar>
                        <mat-card-title class="w-100 d-flex">
                            <div>{{profile.name}}</div>
                        </mat-card-title>
                        <mat-card-subtitle>{{profile.slogan}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>

            <ng-template #showSingle>
                <div class="single-item">
                    <button *ngIf="editing" color="primary" mat-mini-fab
                            style="z-index: 9; transform: translate(15px, 50px)">
                        <mat-icon (click)="bannerUpload = true; fileUpload.click();" class="cursor-pointer">edit
                        </mat-icon>
                    </button>

                    <img *ngIf="banner_image" [src]="banner_image" class="banner-image"/>
                    <img *ngIf="!banner_image && singleItem?.banner_image?.url else blankBanner"
                         [src]="singleItem?.banner_image?.url" class="banner-image"/>
                    <ng-template #blankBanner>
                        <div *ngIf="!banner_image" class="blank-banner"></div>
                    </ng-template>

                    <div class="profile-image-container">
                        <img *ngIf="profile_image" [src]="profile_image" class="profile-image"/>
                        <img *ngIf="!profile_image"
                             [src]="singleItem?.profile_image?.url ? singleItem?.profile_image?.url : 'assets/images/dummy450x450.jpg'"
                             class="profile-image">
                    </div>
                    <div class="text-center">
                        <button *ngIf="editing" color="primary" mat-mini-fab
                                style="z-index: 9; transform: translate(35px, -90px)">
                            <mat-icon (click)="bannerUpload = false; fileUpload.click();" class="cursor-pointer">edit
                            </mat-icon>
                        </button>

                    </div>
                    <div class="text-center d-flex flex-column">
                        <h4 *ngIf="!editing else nameInput" class="pt-2">{{singleItem?.name}}</h4>
                        <ng-template #nameInput>
                            <mat-form-field color="primary" floatLabel="never">
                                <input [formControl]="myFirstForm.controls.name" autocomplete="off" matInput
                                       placeholder="Name">
                            </mat-form-field>
                        </ng-template>


                        <b *ngIf="!editing else sloganInput">{{singleItem?.slogan}}</b>
                        <ng-template #sloganInput>
                            <mat-form-field color="primary" floatLabel="never">
                                <input [formControl]="myFirstForm.controls.slogan" autocomplete="off" matInput
                                       placeholder="Slogan">
                            </mat-form-field>
                        </ng-template>
                    </div>
                    <div>
                        <hr class="hr-text" data-content="Bio">
                    </div>
                    <div class="profile-bio">
                        <div *ngIf="!editing else bioInput" class="pb-4">{{singleItem?.bio}}</div>

                        <ng-template #bioInput>
                            <mat-form-field class="w-100" color="primary" floatLabel="never">
                            <textarea [formControl]="myFirstForm.controls.bio" matInput placeholder="Write a Bio..."
                                 rows="15"></textarea>
                            </mat-form-field>
                        </ng-template>

                    </div>
                </div>
                <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
            </ng-template>
        </mat-card-content>

        <mat-card-footer *ngIf="editing" class="pl-5 pr-5">
            <mat-divider></mat-divider>
            <div class="d-flex justify-content-end align-items-end pt-4 pb-5">
                <button (click)="delete()" *ngIf="singleItem?.id" [matTooltip]="information.delete_record"
                        color="warn"
                        mat-raised-button
                        matTooltipClass="nice-tooltip"
                >
                    <mat-icon>delete</mat-icon>
                    Record
                </button>
                <button (click)="save()" [matTooltip]="singleItem?.id ? information.update_record : information.save_record"
                        class="ml-auto"
                        color="primary"
                        mat-raised-button
                        matTooltipClass="nice-tooltip"
                >
                    <mat-icon>{{singleItem?.id ? 'update' : 'save'}}</mat-icon>
                    Record
                </button>
            </div>
        </mat-card-footer>
    </mat-card>

    <!--        <div *ngIf="config.editLink" class="mt-4">-->
    <!--            <b>Source Code</b>-->
    <!--            <mat-divider class="mt-2"></mat-divider>-->
    <!--            <p class="mt-4">-->
    <!--                The source code for this demo is available publicly.-->
    <!--            </p>-->
    <!--            <a [href]="config.editLink" color="primary" mat-raised-button target="_blank">-->
    <!--            <a [href]="config.editLink" color="primary" mat-raised-button target="_blank">-->
    <!--                {{config.editText ? config.editText : 'Get Source Code'}}-->
    <!--            </a>-->
    <!--        </div>-->

</section>
