#demo-landing {
    min-height: 100vh;
    max-width: 100vw;
    background: rgb(25, 25, 25);

    .x-progress-bar {
        position: fixed;
        top:0;
        left: 0;
        z-index: 9999;
        width: 100vw;
    }

    .api-form * {
        color: whitesmoke;
    }

    .logo-container {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: center;

        a {
            display:block;
            margin:auto;
        }
    }

    .logo {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    @media screen and (min-width: 769px) {
        .api-form {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            //margin-top: 40vh;
        }
    }


    .profile-card {
        box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px !important;
    }

    .profile-card:hover {
        box-shadow: rgba(0,178, 236, 0.3) 0px 1px 2px 0px, rgba(0,178, 236, 0.15) 0px 1px 3px 1px !important;
    }
    .card-header-text {
        margin: 15px !important;
    }

    .card-header-button {
        margin: 15px !important;
    }

    .single-item {
        display: flex;
        padding-top:  0!important;
        margin-top: 0!important;
        flex-direction: column;

        .banner-image {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 200px;
        }

        .profile-image-container {
            margin-top: -60px;
            background: transparent;
            margin-left: auto;
            margin-right: auto;
        }

        .profile-image {
            border-radius: 100%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: top;
        }

        .profile-bio {
            white-space: pre-wrap;
            text-align: justify;
            text-justify: inter-word;
        }

        .blank-banner {
            background: #A7A7A7;
            width: 100%;
            height: 200px;
        }


        .hr-text {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1.5em;
            opacity: .5;

            &:before {
                content: '';
                background: linear-gradient(to right, transparent, #818078, transparent);
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }

            &:after {
                content: attr(data-content);
                position: relative;
                display: inline-block;
                padding: 0 .5em;
                line-height: 1.5em;
                color: whitesmoke;
                background: #424242;
            }
        }
    }

    .x-card {
        width: 700px;
        max-width: 92vw;
        margin: auto 0!important;
        padding: 0!important;
        height: 85vh;

        mat-card-content {
            padding: 0 25px;
            margin: 0;
            max-height: 65vh;
            overflow-y: auto;
            border-bottom: 1px inset rgba(255,255,255,0.2);
        }

    }

    .info-box {
        border-radius: 8px;
        width: 100%;
        padding: 25px;
        margin-bottom: 20px;
        border: 1px inset rgb(255,162,57);

        .data-from * {
            color: rgb(255,162,57);
        }

        div {
            margin-bottom: 25px;
        }

        p {
            margin: 0;
            padding: 0;
        }

        code {
            color: rgb(0,178, 236);
            font-size: 1.1rem;

            .api-button {
                color: rgb(0,178, 236)!important;
                margin-bottom: 5px;
                border-color: rgb(0,178, 236)!important;
            }

            .api-button:hover {
                color: rgb(25,25,25)!important;
                background-color: rgb(0,178, 236)!important;
            }

            span {
                color: rgb(0,178, 236);
            }
        }
    }

    h6 {
        font-weight: bold;
    }

}

button.mat-primary, button.mat-primary * {
    color: rgb(25,25,25)!important;
}

::ng-deep .nice-tooltip {
    background: whitesmoke;
    font-size: 1em;
    padding: 25px;
    text-align: center;
    color: black !important;
}

::ng-deep a, ::ng-deep a:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: underline;
}

::ng-deep .mat-card-header-text {
    width: 100%;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: whitesmoke !important;
}

@keyframes miniBounce {
    0%{ -webkit-transform:translateY(0px) rotate(-45deg);}
    30%{ -webkit-transform:translateY(-20px) rotate(-45deg);}
    60%{ -webkit-transform:translateY(0px) rotate(-45deg);}
    70%{ -webkit-transform:translateY(-5px) rotate(-45deg);}
    100%{ -webkit-transform:translateY(0) rotate(-45deg);}
}

.miniBounce {
    animation: miniBounce 0.4s ease-in-out;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
}


.bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
