/* You can add global styles to this file, and also import other style files */

@import "vars";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$blue-color: (
		50 : #e0f1f7,
		100 : #b3ddea,
		200 : #80c6dd,
		300 : #4dafcf,
		400 : #269dc4,
		500 : #008cba,
		600 : #0084b3,
		700 : #0079ab,
		800 : #006fa3,
		900 : #005c94,
		A100 : #bfe3ff,
		A200 : #8ccdff,
		A400 : #59b7ff,
		A700 : #40abff,
		contrast: (
				50 : #000000,
				100 : #000000,
				200 : #000000,
				300 : #000000,
				400 : #ffffff,
				500 : #ffffff,
				600 : #ffffff,
				700 : #ffffff,
				800 : #ffffff,
				900 : #ffffff,
				A100 : #000000,
				A200 : #000000,
				A400 : #000000,
				A700 : #000000,
		)
);

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($blue-color);
$app-accent:  mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-deep-orange);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$candy-app-theme: mat-dark-theme((
		color: (
				primary: $app-primary,
				accent: $app-accent,
				warn: $app-warn
		)
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(25,25,25);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(0,140,186);
}

html,
body {
	background-color: #F8F8F8;
	min-height: 100vh;
	font-family: Roboto, "Helvetica Neue", sans-serif;

	.xano-header {
		a {
			color: white;
		}
	}

	.highlight-green {
		color: #A5D744;
	}

	.text-muted {
		color: #cfcfcf !important;
		font-size: 14px;
	}
}

//.logo {
//	width: 240px;
//	height: 80px;
//}

.clickable {
	cursor: pointer;
}

.container {
	.header {
		font-size: 36px;
		font-weight: 800;
		letter-spacing: -1px;
	}

	.sub-header {
		font-size: 25px;
		font-weight: 400;
		letter-spacing: 1px;
	}

	.btn-icon {
		width: 50px;
	}

	.btn-config {
		background-color: #122638;
		color: #fff;
		padding: 20px;
		border: 1px solid #122638;
		border-radius: 28px;

		&.btn-post-config {
			position: absolute;
			top: 135px;
			right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:hover {
			color: #fff;
			border: 1px solid #122638;
		}
	}

	.auth-btn {
		width: 100%;
		max-width: 300px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		padding: 10px 20px;
		background-color: #FFF;
		color: #333;
		font-weight: bold;
		font-size: 17px;

		.btn-google {
			background-color: #FFF;
			color: #333;
		}
	}
}


@keyframes slide {
	100% {
		right: 0;
	}
}

.slide-out-panel {
	position: fixed !important;
	bottom: 0;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	animation: slide 0.25s forwards;
	animation-delay: 0.1s;

	.mat-dialog-container {
		padding: 0;
		border-radius: 0;

		.panel-container {
			background-color: $color-dark-accent;
			display: flex;
			flex-direction: column;
			color: whitesmoke;
			height: 100%;

			.panel-header, .panel-summary, .panel-info, .panel-content, .panel-footer {
				padding: 20px;
			}

			.panel-header {
				display: flex;
				align-items: center;
				background: transparent;
				padding-bottom: 0;

				.panel-title {
					font-size: 2em;
					font-weight: bold;
				}

				.panel-close {
					margin-left: auto;
					width: fit-content;
					height: fit-content;
					font-size: 2em;
					font-weight: bold;
					cursor: pointer;
				}
			}

			.panel-summary {
				color: #A7A7A7;
			}

			.panel-info {
				h2 {
					color: whitesmoke;
				}

				color: #A7A7A7;
				background: rgb(29, 29, 29);
			}

			.panel-content {
				background-color: $color-dark-accent;
			}

			.panel-footer {
				background-color: $color-dark;
				margin-top: auto;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
			}
		}

		mat-form-field:not(.mat-form-field-invalid) {
			* {
				color: whitesmoke
			}
		}

		mat-hint {
			color: #A7A7A7 !important;
		}

	}
}


mat-card {
	box-shadow: none!important;
	border: 1px inset rgba(0,0,0,0.1)
}

.error-snack {
	background-color: #f44336;

	* {
		color: whitesmoke;
	}
}


.cursor-pointer {
	cursor: pointer;
}

.mat-button-focus-overlay {
	background-color: transparent!important;
}
