<h1 mat-dialog-title>Confirm Deletion</h1>
<div mat-dialog-content>
    <p>This will remove a row from your table. <br>
        Are you sure you want to delete?</p>
</div>
<div class="d-flex justify-content-end align-items-end pb-4" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="confirm()" color="warn" mat-raised-button>Delete</button>
</div>
